ePubTranslator:
  deepL:
    apiEndpoint: https://api.deepl.com/v2/ # If you subscribe free API plan, use "https://api-free.deepl.com/v2/" instead.
    apiKey: <put your api key here>
  language:
    source: en        # default source language
    destination: ja   # default destination language
