name: Release

on:
  workflow_dispatch:

env:
  JAVA_VERSION: 17

jobs:
  release:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'gradle'

      - name: Switch to release
        run: |
          ./gradlew switchToRelease

      - name: Update versions in documents
        run: |
          ./gradlew updateVersionsInDocuments

      - name: Build uber-jar with Gradle
        run: |
          ./gradlew build

      - name: Commit changes
        shell: bash
        run: |
          VERSION=$(grep "ePubTranslatorVersion" gradle.properties | cut -d'=' -f2)
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit --allow-empty -m "Release ${VERSION}"

      - name: Push commit
        shell: bash
        run: |
          git fetch
          git rebase origin/master
          git push

      - name: Tag commit
        id: tag_commit
        shell: bash
        run: |
          VERSION=$(grep "ePubTranslatorVersion" gradle.properties | cut -d'=' -f2)
          TAG_NAME="${VERSION}.RELEASE"
          git tag "$TAG_NAME"
          echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT

      - name: Push tag
        shell: bash
        run: |
          git push origin "${{ steps.tag_commit.outputs.tag_name }}"

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ steps.tag_commit.outputs.tag_name }}" \
            build/epub-translator.jar \
            --title "Release ${{ steps.tag_commit.outputs.tag_name }}" \
            --generate-notes